{% extends 'base.html.twig' %}

{% block body %}


<h1 class="container mt-5 mb-5 d-flex justify-content-center">Reserve vehicle</h1>

<div class="container mt-5">
<table id="table_id" class="table table-striped table-hover text-center
                 mt-5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Select vehicle</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
                <tr>
                    <td>{{ deliverer.getName }}</td>
                    {{ form_start(form) }}
                    <td>{{ form_widget(form.vehicle) }}</td>
                    <td><div class="row row-cols">
                                            <div class="col flex justify-content-center">
                                            {{ form_row(form.submit) }}
                                                <button class="btn btn-danger"><a class="text-decoration-none text-white" href="{{ path('all-deliverers') }}">Cancel</a></button>
                    {{ form_end(form) }}
                                            </div>
                                        </div>
                    </td>
                </tr>
    </tbody>
</table>
</div>
    </div>
</div>

{% endblock %}